.CVContainer {
    width: 8.27in; /* A4 paper width */
    margin: 0 auto;
    padding: 0.5in; /* Adjust the padding for better fit */
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.infoAndSkillsSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo img {
    width: 120px; /* Adjusted size */
    height: 120px;
    border-radius: 50%;
}

.infoAndSkills {
    flex: 1;
    margin-left: 20px;
    text-align: left;
}

.personInfo h2 {
    font-size: 1.5rem; /* Reduced font size */
}

.personInfo p {
    font-size: 1.2rem;
    margin-top: -1px;
}

.contactAndSkills {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}

.contactAndSkills .skills, .contactAndSkills .contactContainer {
    width: 48%;
    box-sizing: border-box;
}

.contactAndSkills .skills{
    margin-top: 0;
}
.skills h2, .contactContainer h2 {
    font-size: 1.3rem;
    margin: 0;
}

.skillItemContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.skillItem .skillTitle {
    font-size: 12px;
}

.skillItem .skillLevel {
    font-size: 10px;
}

.contactItems {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.summarySection, .projects-section, .workExperience-section, .achievements-section {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.icon i {
    font-size: 1rem; /* Adjusted size */
}

.icon h2 {
    font-size: 1.3rem;
    /* margin-top: 0.5rem; */
}

.line {
    border-bottom: 1px solid #000;
    width: 100%;
}

.project-item, .work-item, .achievement-item {
    margin: 10px 0;
}

.project-content, .work-content, .achievement-content {
    padding-left: 10px;
}

.project-content h3, .work-content h3, .achievement-content h3 {
    margin: 3px 0;
}
