.achievementComponent{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
}

.achievementComponent h2{
    font-size: 32px;
}

.achievementComponent .achievementSection{
    padding: 0.5rem;
    background-color: #fff;
    text-align: left;
    width: 60%;
    margin: auto;
}

.achievementComponent .achievementSection p{
    font-size: 14px;
    color: #999;
}

.achievementComponent .achievementSection .newAchievement .achievementModal{
    padding: 0.5rem;
}

.achievementComponent .achievementSection .newAchievement .achievementModal form{
    padding: 1rem;
}
.achievementComponent .achievementSection .newAchievement .achievementModal input, textarea{
    display: block;
    width: 90%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    background-color: aliceblue;
}
.achievementComponent .achievementSection .newAchievement .addNewAchievementbtn{
    padding: 0.8rem;
    background-color: #15bdfa;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 0.4rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
}