.educationComponent{
    width: 80%;
    margin: auto;
    margin-top: 6rem;
    text-align: center;
    background-color: aliceblue;
}
.educationComponent h2{
    font-size: 32px;
}

.educationComponent .educationSection{
    padding: 0.5rem;
    background-color: #fff;
    text-align: left;
    width: 60%;
    margin: auto;
}

.educationComponent .educationSection p{
    font-size: 12px;
    color: #999;
}

.educationComponent .educationSection .currentEducationDetails .educationItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #ccc;
    margin-top: 0.5rem;
    padding: 0.4rem;
}
.educationComponent .educationSection .currentEducationDetails .educationItem .degree{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.educationComponent .educationSection .currentEducationDetails .educationItem .degree span{
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.educationComponent .educationSection .currentEducationDetails .educationItem .degree .deleteEducationBtn{
    background-color: #fff;
    color: red;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}
.educationComponent .educationSection .currentEducationDetails .educationItem .collegeDetail{
    width: 90%;
    margin: auto;
}

.educationComponent .educationSection .currentEducationDetails .educationItem .collegeDetail p{
    color: black;
    font-size: 14px;
}

.educationComponent .educationSection .currentEducationDetails .noeducation{
    width: 90%;
    margin: auto;
    font-size: 14px;
    color: #999;
}
.educationComponent .addNewEducationDetail .addEducationModal{
    padding: 0.5rem;
    margin-top: 0;
}

.educationComponent .addNewEducationDetail .addEducationModal .educationForm{
    padding: 1rem;
}
.educationComponent .addNewEducationDetail .addEducationModal .educationForm input{
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
}

.educationComponent .addNewEducationDetail .addEducationModal .submitAndCloseBtns{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    margin-top: 0.5rem;
}

.educationComponent .addNewEducationDetail .addEducationModal .submitAndCloseBtns button{
    padding: 0.7rem;
    border-radius: 0.4rem;
    font-size: 15px;
    cursor: pointer;
}

.educationComponent .addNewEducationDetail .addEducationModal .submitAndCloseBtns .submitBtn{
    background-color: #15bdfa;
    color: #fff;
    border: none;
}

.educationComponent .addNewEducationDetail .addEducationModal .submitAndCloseBtns .closeBtn{
    background-color: #fff;
    color: black;
    border: 1px solid #aaa;
}
.educationComponent .educationSection .addNewEducationDetail .addNewEducationbtn{
    padding: 0.8rem;
    background-color: #15bdfa;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 0.4rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
}

.educationComponent  .nextAndBackBtn{
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.educationComponent  .nextAndBackBtn button{
    padding: 0.7rem;
    font-size: 14px;
    border-radius: 0.4rem;
    cursor: pointer;
}
.educationComponent .nextAndBackBtn .nextBtn{
    background-color: #15bdfa;
    color: #fff;
    border: none;
}

.educationComponent .nextAndBackBtn .prevBtn{
    background-color: #fff;
    color: black;
    border: 1px solid black;
}