.experienceComponent{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
}
.experienceComponent h2{
    font-size: 32px;
}

.experienceComponent .educationSection{
    padding: 0.5rem;
    background-color: #fff;
    text-align: left;
    width: 60%;
    margin: auto;
}

.experienceComponent .educationSection .addNewExperiecne .addNewExperiencebtn{
    padding: 0.8rem;
    background-color: #15bdfa;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 0.4rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
}