.experienceComponent{
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: aliceblue;
}
.experienceComponent h2{
    font-size: 32px;
}

.experienceComponent .experienceSection{
    padding: 0.5rem;
    background-color: #fff;
    text-align: left;
    width: 60%;
    margin: auto;
}

.experienceComponent .experienceSection p{
    font-size: 14px;
    color: #999;
}

.experienceComponent .experienceSection .currentAddedExperience .experienceItem{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    border: 1px solid #ccc;
    margin-top: 0.5rem;
    padding: 0.4rem;
}

.experienceComponent .experienceSection .currentAddedExperience .experienceItem .title{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.experienceComponent .experienceSection .currentAddedExperience .experienceItem .title .deleteExperienceBtn{
    background-color: #fff;
    color: red;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}
.experienceComponent .experienceSection .currentAddedExperience .experienceItem .title, .jobDetails{
    width: 90%;
    margin: auto;
    text-align: left;
}

.experienceComponent .experienceSection .currentAddedExperience .experienceItem .jobDetails .row{
    display: flex;
    gap: 1rem;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 0.4rem;
}

.experienceComponent .experienceSection .currentAddedExperience .experienceItem .jobDetails .row .col{
    width: 45%;
    border: 1px solid #ccc;
}

.experienceComponent .experienceSection .currentAddedExperience .experienceItem .jobDetails .row .col p{
    color: black;
    cursor: pointer;
}

.experienceComponent .experienceSection .addNewExperiecne{
    padding: 1rem;
}
.experienceComponent .experienceSection .addNewExperiecne .addExperienceModal{
    padding: 1rem;
}

.experienceComponent .experienceSection .addNewExperiecne .addExperienceModal input{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.experienceComponent .experienceSection .addExperienceModal .submitAndCloseBtns{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    margin-top: 0.5rem;
}

.experienceComponent .experienceSection .addExperienceModal .submitAndCloseBtns button{
    padding: 0.7rem;
    border-radius: 0.4rem;
    font-size: 15px;
    cursor: pointer;
}

.experienceComponent .experienceSection .addExperienceModal .submitAndCloseBtns .submitBtn{
    background-color: #15bdfa;
    color: #fff;
    border: none;
}

.experienceComponent .experienceSection .addExperienceModal .submitAndCloseBtns .closeBtn{
    background-color: #fff;
    color: black;
    border: 1px solid #aaa;
}

.experienceComponent .experienceSection .addNewExperiecne .addNewExperiencebtn{
    padding: 0.8rem;
    background-color: #15bdfa;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 0.4rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
}

.experienceComponent .nextAndBackBtn{
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.experienceComponent  .nextAndBackBtn button{
    padding: 0.7rem;
    font-size: 14px;
    border-radius: 0.4rem;
    cursor: pointer;
}
.experienceComponent .nextAndBackBtn .nextBtn{
    background-color: #15bdfa;
    color: #fff;
    border: none;
}

.experienceComponent .nextAndBackBtn .prevBtn{
    background-color: #fff;
    color: black;
    border: 1px solid black;
}