.hobbiesComponents{
    width: 80%;
    margin: auto;
    margin-top: 6rem;
    text-align: center;
    background-color: aliceblue;
}

.hobbiesComponents h2{
    font-size: 32px;
}

.hobbiesComponents .hobbiesSection{
    padding: 0.5rem;
    background-color: #fff;
    text-align: left;
    width: 60%;
    margin: auto;
}

.hobbiesComponents .hobbiesSection p{
    font-size: 14px;
    color: #999;
}

.hobbiesComponents .hobbiesSection .currentHobbies .hobbiesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hobbiesComponents .hobbiesSection .currentHobbies .hobbieItem{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    position: relative;
}

.hobbiesComponents .hobbiesSection .currentHobbies .hobbieItem p{
    color: black;
}

.hobbiesComponents .hobbiesSection .currentHobbies .hobbieItem .deleteHobbyBtn{
    position: absolute;
    top: 0.5rem;
    right: 0;
    background-color: #fff;
    color: red;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.hobbiesComponents .hobbiesSection .newHobbies .hobbyModal{
    padding:  1rem;
}

.hobbiesComponents .hobbiesSection .newHobbies .hobbyModal input{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}


.hobbiesComponents .hobbiesSection .newHobbies .hobbyModal .submitAndCloseBtns{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    margin-top: 0.5rem;
}

.hobbiesComponents .hobbiesSection .newHobbies .hobbyModal .submitAndCloseBtns button{
    padding: 0.7rem;
    border-radius: 0.4rem;
    font-size: 15px;
    cursor: pointer;
}

.hobbiesComponents .hobbiesSection .newHobbies .hobbyModal .submitAndCloseBtns .submitBtn{
    background-color: #15bdfa;
    color: #fff;
    border: none;
}


.hobbiesComponents .hobbiesSection .newHobbies .hobbyModal .submitAndCloseBtns .closeBtn{
    background-color: #fff;
    color: black;
    border: 1px solid #aaa;
}

.hobbiesComponents .hobbiesSection .newHobbies .addNewHobbybtn{
    padding: 0.8rem;
    background-color: #15bdfa;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 0.4rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
}


.hobbiesComponents .hobbiesSection .nextAndBackBtn{
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.hobbiesComponents .hobbiesSection  .nextAndBackBtn button{
    padding: 0.7rem;
    font-size: 14px;
    border-radius: 0.4rem;
    cursor: pointer;
}

.hobbiesComponents .hobbiesSection .nextAndBackBtn .nextBtn{
    background-color: #15bdfa;
    color: #fff;
    border: none;
}

.hobbiesComponents .hobbiesSection .nextAndBackBtn .prevBtn{
    background-color: #fff;
    color: black;
    border: 1px solid black;
}
