.hobbiesComponents{
    width: 80%;
    margin: auto;
    margin-top: 6rem;
    text-align: center;
    background-color: aliceblue;
}

.hobbiesComponents h2{
    font-size: 32px;
}

.hobbiesComponents .hobbiesSection{
    padding: 0.5rem;
    background-color: #fff;
    text-align: left;
    width: 60%;
    margin: auto;
}

.hobbiesComponents .hobbiesSection p{
    font-size: 14px;
    color: #999;
}
.hobbiesComponents .hobbiesSection .newHobbies .addNewHobbybtn{
    padding: 0.8rem;
    background-color: #15bdfa;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 0.4rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
}