.personalInfoCollector{
    padding: 1rem;
    text-align: center;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
    margin-top: 5rem;
}

.personalInfoCollector .personalInformation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    width: 50%;
    margin: auto;
}

.personalInfoCollector .personalInformation .photoSection{
    display: flex;
}

.personalInfoCollector .personalInformation .personPhoto{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.personalInfoCollector .personalInformation .personPhoto img{
    width: 100%;
    height: 100%;
}

.personalInfoCollector .personalInformation .photoSection .uploadDeleteBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: -10px;
    font-size: small;
}

.personalInfoCollector .personalInformation .photoSection .uploadDeleteBtn .uploadbtn{
    color: #0007ff;
    cursor: pointer;
}

.personalInfoCollector .personalInformation .photoSection .uploadDeleteBtn .deletebtn{
    color: #ff4000;
    cursor: pointer;
}

.personalInfoCollector .personalInformation .addedPersonalData{
    text-align: left;
    font-size: 15px;
    color: #999;
}

.personalInfoCollector .personalInformation .addedPersonalData h4{
    color: black;
    font-size: 17px;
}

.personalInfoCollector .personalInformation .addedPersonalData .personalDataItem{
    width: 98%;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.4rem;
    position: relative;
}

.personalInfoCollector .personalInformation .addedPersonalData .personalDataItem span{
    color: black;
    font-size: 16px;
}

.personalInfoCollector .personalInformation .addedPersonalData .personalDataItem .deletePersonalDataBtn{
    position: absolute;
    top: 0.5rem;
    right: 0;
    color: #ff4000;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.personalInfoCollector .personalInformation .infoForm{
    padding: 1rem;
}

.personalInfoCollector .personalInformation .infoForm .row{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.personalInfoCollector .personalInformation .infoForm .col{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: left;
    padding: 1rem;
    font-size: 14px;
}

.personalInfoCollector .personalInformation .infoForm .col input{
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    width: 100%;
    background-color: aliceblue;
}

.personalInfoCollector .personalInformation .infoForm .fullWidthInput{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: left;
    padding: 1rem;
    font-size: 14px;
}

.personalInfoCollector .personalInformation .infoForm .fullWidthInput input, textarea{
    width: 100%;
    padding: 0.7rem;
    border: none;
    border-radius: 0.5rem;
    background-color: aliceblue;
}

.personalInfoCollector .personalInformation .addPersonalDatabtn{
    padding: 0.5rem;
    background-color: #15bdfa;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 0.4rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer
}
.personalInfoCollector .personalInformation .infoForm .submitAndCloseBtns{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    margin-top: 0.5rem;
}

.personalInfoCollector .personalInformation .infoForm .submitAndCloseBtns button{
    padding: 0.7rem;
    border-radius: 0.4rem;
    font-size: 15px;
    cursor: pointer;
}

.personalInfoCollector .personalInformation .infoForm .submitAndCloseBtns .submitBtn{
    background-color: #15bdfa;
    color: #fff;
    border: none;
}

.personalInfoCollector .personalInformation .infoForm .submitAndCloseBtns .closeBtn{
    background-color: #fff;
    color: black;
    border: 1px solid #aaa;
}

.personalInfoCollector .personalInformation .socialLinkSection .currentLinks .socialLinkItem{
    text-align: left;
    display: flex;
    gap: 1rem;
    position: relative;
    margin-top: 0.5rem;
}
.personalInfoCollector .personalInformation .socialLinkSection .currentLinks .socialLinkItem .deleteLinkbtn{
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 2px;
}
.personalInfoCollector .personalInformation .socialLinkSection .newLinkSection{
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.personalInfoCollector .personalInformation .socialLinkSection .newLinkSection .newlinkForm{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.personalInfoCollector .personalInformation .socialLinkSection .newLinkSection .newlinkForm input, select{
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 15px;
}

.personalInfoCollector .personalInformation .socialLinkSection p{
    text-align: left;
    font: 12px;
    color: #333;
}

.personalInfoCollector .personalInformation .socialLinkSection .addNewLink{
    padding: 0.5rem;
    border-radius: 0.2rem;
    font-weight: bold;
    text-align: center;
    background-color: #15bdfa;
    color: #fff;
    border: 1px solid #15bdfa;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.8s ease;
    margin-top: 0.5rem;
}

.personalInfoCollector .personalInformation .socialLinkSection .addNewLink:hover{
    background-color: aliceblue;
    color: #15bdfa;
    border: 1px solid #15bdfa;
}

.personalInfoCollector .personalInformation .nextAndBackBtn{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.personalInfoCollector .personalInformation .nextAndBackBtn button{
    padding: 0.7rem;
    font-size: 14px;
    border-radius: 0.4rem;
    cursor: pointer;
}
.personalInfoCollector .personalInformation .nextAndBackBtn .nextBtn{
    background-color: #15bdfa;
    color: #fff;
    border: none;
}

.personalInfoCollector .personalInformation .nextAndBackBtn .prevBtn{
    background-color: #fff;
    color: black;
    border: 1px solid black;
}