.projectsComponent{
    width: 80%;
    margin: auto;
    margin-top: 6rem;
    text-align: center;
    background-color: aliceblue;
}
.projectsComponent h2{
    font-size: 32px;
}

.projectsComponent .projectsSection{
    padding: 0.5rem;
    background-color: #fff;
    text-align: left;
    width: 60%;
    margin: auto;
}

.projectsComponent .projectsSection p{
    font-size: 14px;
    color: #999;
}

.projectsComponent .projectsSection .addedProjects .projectItem{
    width: 90%;
    margin: auto;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.projectsComponent .projectsSection .addedProjects .projectItem .projectTitleAndDeleteBtn{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.projectsComponent .projectsSection .addedProjects .projectItem .projectTitleAndDeleteBtn .deleteProjectBtn{
    background-color: #fff;
    color: red;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.projectsComponent .projectsSection .addedProjects .projectItem p{
    color: black;
}
.projectsComponent .projectsSection .newProjects{
    padding: 1rem;
}

.projectsComponent .projectsSection .newProjects .addNewProjectModal{
    padding: 1rem;
}

.projectsComponent .projectsSection .newProjects .addNewProjectModal input{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.projectsComponent .projectsSection .newProjects .addNewProjectModal .submitAndCloseBtns{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    margin-top: 0.5rem;
}

.projectsComponent .projectsSection .newProjects .addNewProjectModal .submitAndCloseBtns button{
    padding: 0.7rem;
    border-radius: 0.4rem;
    font-size: 15px;
    cursor: pointer;
}

.projectsComponent .projectsSection .newProjects .addNewProjectModal .submitAndCloseBtns .submitBtn{
    background-color: #15bdfa;
    color: #fff;
    border: none;
}

.projectsComponent .projectsSection .newProjects .addNewProjectModal .submitAndCloseBtns .closeBtn{
    background-color: #fff;
    color: black;
    border: 1px solid #aaa;
}
.projectsComponent .projectsSection .newProjects .addNewProjectbtn{
    padding: 0.8rem;
    background-color: #15bdfa;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 0.4rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
}

.projectsComponent .projectsSection .nextAndBackBtn{
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.projectsComponent .projectsSection  .nextAndBackBtn button{
    padding: 0.7rem;
    font-size: 14px;
    border-radius: 0.4rem;
    cursor: pointer;
}
.projectsComponent .projectsSection .nextAndBackBtn .nextBtn{
    background-color: #15bdfa;
    color: #fff;
    border: none;
}

.projectsComponent .projectsSection .nextAndBackBtn .prevBtn{
    background-color: #fff;
    color: black;
    border: 1px solid black;
}