.skillsComponent{
    width: 80%;
    margin: auto;
    margin-top: 6rem;
    text-align: center;
    background-color: aliceblue;
}

.skillsComponent h2{
    font-style: 32px;
}

.skillsComponent .skillSection{
    padding: 0.5rem;
    background-color: #fff;
    text-align: left;
    width: 60%;
    margin: auto;
}

.skillsComponent .skillSection p{
    font-size: 14px;
    color: #999;
}

.skillsComponent .skillSection .addedSkills .skillsContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.skillsComponent .skillSection .addedSkills .skillItem{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    position: relative;
}

.skillsComponent .skillSection .addedSkills .skillItem .skillAndDeleteBtn p{
    color: black;
    font-size: 16px;
}
.skillsComponent .skillSection .addedSkills .skillItem .skillAndDeleteBtn span{
    color: #999;
    font-size: 12px;
}

.skillsComponent .skillSection .addedSkills .skillItem .deleteSkillBtn{
    position: absolute;
    top: 0.3rem;
    right: 0rem;
    background-color: #fff;
    color: red;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.skillsComponent .skillSection .newSkills{
    margin-top: 1.5rem;
}
.skillsComponent .skillSection .newSkills .addSkillModal{
    padding: 1rem;
}

.skillsComponent .skillSection .newSkills .addSkillModal input{
    display: block;
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.skillsComponent .skillSection .newSkills .addSkillModal .row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
}

.skillsComponent .skillSection .newSkills .addSkillModal .submitAndCloseBtns{
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    margin-top: 0.5rem;
}

.skillsComponent .skillSection .newSkills .addSkillModal .submitAndCloseBtns button{
    padding: 0.7rem;
    border-radius: 0.4rem;
    font-size: 15px;
    cursor: pointer;
}

.skillsComponent .skillSection .newSkills .addSkillModal .submitAndCloseBtns .submitBtn{
    background-color: #15bdfa;
    color: #fff;
    border: none;
}

.skillsComponent .skillSection .newSkills .addSkillModal .submitAndCloseBtns .closeBtn{
    background-color: #fff;
    color: black;
    border: 1px solid #aaa;
}

.skillsComponent .skillSection .newSkills .addNewSkillbtn{
    padding: 0.8rem;
    background-color: #15bdfa;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 0.4rem;
    border: none;
    margin-top: 0.5rem;
    cursor: pointer;
}

.skillsComponent .skillSection .nextAndBackBtn{
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.skillsComponent .skillSection .nextAndBackBtn button{
    padding: 0.7rem;
    font-size: 14px;
    border-radius: 0.4rem;
    cursor: pointer;
}
.skillsComponent .skillSection .nextAndBackBtn .nextBtn{
    background-color: #15bdfa;
    color: #fff;
    border: none;
}

.skillsComponent .skillSection .nextAndBackBtn .prevBtn{
    background-color: #fff;
    color: black;
    border: 1px solid black;
}