.allTemplateDisplay{
    margin-top: 5rem;
    padding: 0.5rem;
    background-color: aliceblue;
    text-align: center;
}

.allTemplateDisplay .templateContainerHeading{
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
}

.allTemplateDisplay .templateContainerHeading .nextbtn{
    position: fixed;
    top: 1rem;
    right: 4rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 1rem;
    border: none;
    font-size: 15px;
    width: 6rem;
    cursor: pointer;
}
.allTemplateDisplay .allTemplateContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.allTemplateDisplay .allTemplateContainer .templateCard{
    width: 26rem;
    height: 38rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.allTemplateDisplay .allTemplateContainer .templateCard.selectedCard {
    border: 2px solid #007bff;
    transform: scale(1.2);
}

.allTemplateDisplay .allTemplateContainer .templateCard figure{
   width: 100%; 
   height: 90%;
}

.allTemplateDisplay .allTemplateContainer .templateCard figure img{
    width: 100%;
    height: 100%;
}
