.aboutUsConponent{
    margin-top: 6rem;
    padding: 1rem;
    background-color: aliceblue;
}

.aboutUsConponent h2{
    text-align: center;
    padding: 0.5rem;
}

.aboutUsConponent .aboutUsContainer{
    /* background-color: white; */
    padding: 0.5rem;
    border-radius: 0.4rem;
}

.aboutUsConponent .aboutUsContainer .owner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
}

.aboutUsConponent .aboutUsContainer .aboutApp{
    width: 70%;
    margin: auto;
}

.aboutUsConponent .aboutUsContainer .aboutApp p{
    text-align: justify;
    font-size: 15px;
}