.aboutUsConponent {
    margin-top: 6rem;
    padding: 1rem;
    background-color: aliceblue;
}

.aboutUsConponent h2 {
    text-align: center;
    padding: 0.5rem;
}

.aboutUsConponent .aboutUsContainer {
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.4rem;
}

.aboutUsConponent .aboutUsContainer .owner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
}

.aboutUsConponent .aboutUsContainer .owner .ownerInfo {
    text-align: justify;
    width: 24rem;
}

.aboutUsConponent .aboutUsContainer .owner .ownerInfo h3 {
    text-align: center;
}

.aboutUsConponent .aboutUsContainer .owner .developerPhoto {
    width: 22rem;
    height: 21rem;
    transition: all ease 0.8s;
}

.aboutUsConponent .aboutUsContainer .owner .developerPhoto img {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    animation: pulse 1.5s ease-in-out infinite;
}
@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

.aboutUsConponent .aboutUsContainer .aboutApp {
    width: 70%;
    margin: auto;
}

.aboutUsConponent .aboutUsContainer .aboutApp p {
    text-align: justify;
    font-size: 15px;
}

.aboutUsConponent .social{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}
/* Social Links Styles */
.social .wrapper {
    margin-top: -0.5rem;
    display: inline-flex;
    list-style: none;
    margin-left: -2.5rem;
    height: 120px;
    width: 100%;
    padding-top: 5px;
    justify-content: center;
}

.social .wrapper a {
    text-decoration: none;
}

.social .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.social .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.social .icon:hover span,
.social .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.social .facebook:hover,
.social .facebook:hover .tooltip,
.social .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
}

.social .instagram:hover,
.social .instagram:hover .tooltip,
.social .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}

/* GitHub Styles */
.social .github:hover,
.social .github:hover .tooltip,
.social .github:hover .tooltip::before {
    background: #211F1F; /* GitHub color */
    color: #fff;
}

.aboutUsConponent .aboutUsContainer .sendMessageSection{
    padding: 1rem;
    width: 50%;
    margin: auto;
}

.aboutUsConponent .aboutUsContainer .sendMessageSection .sendMessageForm input{
    padding: 0.4rem;
    border-radius: 0.4rem;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 1rem;
    background-color: aliceblue;
}

.aboutUsConponent .aboutUsContainer .sendMessageSection .sendMessageBtn {
    margin-top: 1rem;
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    color: white;
    padding: 0.4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
  .aboutUsConponent .aboutUsContainer .sendMessageSection .sendMessageBtn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  .aboutUsConponent .aboutUsContainer .sendMessageSection .sendMessageBtn:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .aboutUsConponent .aboutUsContainer .sendMessageSection .sendMessageBtn span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
  .aboutUsConponent .aboutUsContainer .sendMessageSection .sendMessageBtn svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  .aboutUsConponent .aboutUsContainer .sendMessageSection .sendMessageBtn .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  .aboutUsConponent .aboutUsContainer .sendMessageSection .sendMessageBtn:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .aboutUsConponent .aboutUsContainer .sendMessageSection .sendMessageBtn:hover svg {
    transform: rotate(45deg);
  }
  