.cvGeneratorContainer{
    background-color: aliceblue;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    position: relative;
}

.cvGeneratorContainer .stepsIdicator{
    position: fixed;
    width: 8rem;
    left: 0;
    top: 0;
    padding: 1rem;
    overflow-y: scroll;
}

.cvGeneratorContainer .stepsIdicator{
    width: 10%;
}

.cvGeneratorContainer .stepInfo{
    width: 88%;
    margin: auto;
}
.cvGeneratorContainer .stepsIdicator .stepItemsContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding-right: 1rem;
    border-right: 1px solid #ddd;
}

.cvGeneratorContainer .stepsIdicator .stepItemsContainer .stepItem{
    background: linear-gradient(135deg, #6b8e23, #228b22);
    color: white;
    border-radius: 0.4rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.8s ease;
}

.cvGeneratorContainer .stepsIdicator .stepItemsContainer .stepItem:hover {
    background: linear-gradient(135deg, #3a5f23, #1c7b1c);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.cvGeneratorContainer .stepsIdicator .stepItemsContainer .stepItem.active{
    background: linear-gradient(135deg, #228b22, #006400);
    color: #f5f5f5;
    transform: scale(1.1);
}

.cvGeneratorContainer .stepsIdicator .stepItemsContainer .stepItem i{
    font-size: 1.3rem;
}
.cvGeneratorContainer .stepsIdicator .stepItemsContainer .stepItem p{
    font-size: 1rem;
}