footer{
    background-color: aliceblue;
    padding: 1rem;
}

.footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.quickLinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.quickLinks .links{
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
}
.aboutApp{
    width: 40%;
}

.aboutApp .applogo{
    width: 18rem;
    height: 8rem;
}
.aboutApp .applogo img{
    width: 100%;
    height: 100%;
}

.aboutApp .appDesc{
    width: 20rem;
}
.quickLinks{
    width: 30%;
}

.socialSection{
    width: 30%;
}