footer{
    background-color: aliceblue;
    padding: 1rem;
}

.footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.quickLinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}