.loginSignupModal{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30rem;
    border-radius: 0.4rem;
    padding: 1rem;
    background-color: #fff;
    z-index: 5;
}

.loginSignupModal .loginModal, .signupModal{
    width: 100%;
}

.loginSignupModal .loginModal h2, .signupModal h2{
    text-align:  center;
    padding: 0.4rem;
}

.loginSignupModal .loginModal .loginform,
.loginSignupModal .signupModal .signupForm{
    width: 100%;
}

.loginSignupModal .loginModal .loginform input,
 .signupModal .signupForm input{
    display: block;
    width: 100%;
    padding: 0.4rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
    margin-bottom: 0.5rem;
}

.loginSignupModal .loginModal .loginform .loginBtn{
    background-color: #1128ff;
    color: #fff;
    border-radius: 0.4rem;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.loginSignupModal .signupModal .signInOptions{
    padding: 1rem;
    margin-top: 1rem;
}

.loginSignupModal .signupModal .signInOptions p{
    text-align: center;
}
.loginSignupModal .signupModal .signupForm .submitBtn{
    background-color: greenyellow;
    color: black;
    border-radius: 0.4rem;
    padding: 0.4rem 1rem;
    border: none;
    cursor: pointer;
}