nav{
    background-color: aliceblue;
    color: black;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
}

.navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 0.5rem;
    font-size: large;
}

.navbar .logo{
    width: 18rem;
    height: 6rem;
    cursor: pointer;
}

.navbar .logo img{
    width: 100%;
    height: 100%;
}
.navbar .navitems{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.navbar .navlinks {
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
}

.navbar .navlinks.active {
    color: #007bff;
    font-weight: bold;
    border-bottom: 2px solid #007bff;
}

.navbar .loginbtn{
    padding: 1rem;
    border-radius: 0.4rem;
    background-color: #1a1a7d;
    color: #fff;
    border: 1px solid #fff;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.8s ease;
}

.navbar .loginbtn:hover{
    background-color: #fff;
    color: #1a1a7d;
    border: 1px solid #1a1a7d;
}
