.TemplateTab {
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 6rem;
    margin-bottom: 1rem;
  }
  
  .TemplateTab h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .TemplateTab p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }

  .TemplateTab p span{
    color: #1a1a7d;
    font-weight: bold;
  }
  
  .TemplateTab .templates-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
  
  .TemplateTab .templates-Container .template-Card {
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 35rem;
    height: 42rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-top: 1rem;
  }
  
  .TemplateTab .templates-Container .template-Card:hover {
    transform: translateY(-5px);
  }
  
  .TemplateTab .templates-Container .template-Card .templateImage {
    margin: 0;
    width: 100%;
    height: 95%;
    border-radius: 10px 10px 0 0;
  }
  
  .TemplateTab .templates-Container .template-Card .templateImage img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .TemplateTab .templates-Container .template-Card p {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    margin: 0;
    background-color: #f1f1f1;
    /* width: 100%; */
    text-align: center;
    border-radius: 0 0 10px 10px;
    height: 5%;
    vertical-align: middle;
  }
  