.templatesSection {
    background-color: skyblue;
    padding: 1rem;
    text-align: center;
    position: relative;
    z-index: 3;
    padding-bottom: 3rem;
}

.templatesSection h2{
    font-size: 2rem;
}

.templatesSection h2>span{
    color: #1a1a7d;
}

.templatesSection p{
    font-size: 1.5rem;
    width: 27.5rem;
    margin: auto;
}

.templateContainer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.templateCard{
    padding: 0.5rem;
    height: 40rem;
    width: 40rem;
}

.templateCard img{
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.swiper-button-prev,
.swiper-button-next{
    color: blue;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    width: 44px;
    height: 44px;
}

.seeMoreTemplateBtn{
    background-color: #1a1a7d;
    color: #fff;
    padding: 1rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    border: 1px solid black;
    transition: all 0.8s ease;
}

.seeMoreTemplateBtn:hover{
    background-color: skyblue;
    color: black;
}
