.templatesSection {
    background-color: skyblue;
    padding: 1rem;
    text-align: center;
    position: relative;
    z-index: 3;
    padding-bottom: 3rem;
}

.templatesSection h2 {
    font-size: 2rem;
}

.templatesSection h2 > span {
    color: #1a1a7d;
}

.templatesSection p {
    font-size: 1.5rem;
    width: 27.5rem;
    margin: auto;
}

.templateContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.templateContainer .customSwiper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.templateContainer .customSwiper .swiperWrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.templateContainer .customSwiper .swiperSlide {
    flex: 0 0 50%; /* 2 slides visible per frame */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.templateContainer .templateCardContainer {
    display: flex;
    justify-content: center;
}

.templateContainer .templateCard {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.templateContainer .imageContainer {
    width: 25rem;
    height: 30rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.templateContainer .imageContainer img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.templateContainer .imageContainer img:hover {
    transform: scale(1.05);
}

.templateContainer .templateCard h3 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #333;
}

.templateContainer .prevBtn,
.templateContainer .nextBtn {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

.templateContainer .prevBtn {
    left: 0;
}

.templateContainer .nextBtn {
    right: 0;
}

.templateContainer .prevBtn:hover,
.templateContainer .nextBtn:hover {
    color: #1a1a7d;
}


.templateContainer .pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    position: absolute;
    bottom: 0rem; /* Position the pagination below the swiper */
    left: 50%;
    transform: translateX(-50%);
}

.templateContainer .pagination .paginationDot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ddd;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.templateContainer .pagination .paginationDot.active {
    background-color: #1a1a7d;
}

.seeMoreTemplateBtn {
    background-color: #1a1a7d;
    color: #fff;
    padding: 1rem;
    border-radius: 0.4rem;
    font-size: 1rem;
    border: 1px solid black;
    transition: all 0.8s ease;
    margin-top: 1rem;
}

.seeMoreTemplateBtn:hover {
    background-color: skyblue;
    color: black;
}
