.container {
    display: flex;
    max-width: 900px;
    min-height: 1000px;
    margin: 20px auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.left-section, .right-section {
    padding: 20px;
}

.left-section {
    width: 35%;
    background-color: #f9f9f9;
    padding-left: 40px;
    border-right: 2px solid #e0e0e0;
}

.right-section {
    width: 65%;
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.left-section h1 {
    font-size: 24px;
    margin: 0;
    padding-bottom: 2px;
}

.left-section h2 {
    font-size: 18px;
    color: #666666;
    margin: 0;
    padding-bottom: 2px;
}

.left-section ul li{
    cursor: pointer;
}

             
.left-section .socialLinkItems{
    margin-top: -5px;
}

.left-section .socialLinkItems p{
    color: #666666;
    font-size: 14px;
}

.left-section .socialLinkItems p > i{
    margin-right: 5px;
    font-size: 16px;
}
.section h3 {
    font-size: 20px;
    margin-bottom: 5px;
    position: relative;
    border-bottom: 1px solid #333333;
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 5px 0;
    color: #333333;
}

.section ul li i {
    margin-right: 10px;
    font-size: 18px;
    color: #666666;
}

.section p {
    font-size: 14px;
    color: #333333;
    margin-bottom: 5px;
}

.awards p, .achievements p {
    margin-bottom: 5px;
}

.awards strong, .achievements strong {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.left-section .achievements .achievementDesc{
    margin-top: -12px;
    margin-bottom: 10px;
}
.education p, .work-experience p {
    margin-bottom: 5px;
}

.education strong, .work-experience strong {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.right-section .skills {
    margin-top: 2rem;
    width: 100%;
}

.right-section .skillSection h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    border-bottom: none;
}

.right-section .skillSection .skillItemContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.right-section .skillItemContainer .skillItem{
    width: 22%;
    border: 1px solid #ccc;
    text-align: center;
    padding: 0.2rem;
}