/* Initially hiding scrollbar by making it transparent */
body::-webkit-scrollbar {
    width: 7px; /* Keep the width consistent */
    background: transparent; /* Transparent background */
    transition: background 1.5s ease;
}

/* Scrollbar track styling */
body::-webkit-scrollbar-track {
    background-color: transparent; /* Keep track transparent when hidden */
}

/* Scrollbar thumb styling */
body::-webkit-scrollbar-thumb {
    background-color: transparent; /* Keep thumb transparent when hidden */
    border-radius: 0.6rem; 
}

/* Show scrollbar when scrolling */
.showScrollbar::-webkit-scrollbar-track {
    background-color: skyblue; /* Show track color */
}

.showScrollbar::-webkit-scrollbar-thumb {
    background-color: #1a1a7d; /* Show thumb color */
}
