/* Initially hiding scrollbar */
body::-webkit-scrollbar {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    width: 0; /* Hide scrollbar */
    background: transparent;
    transition: width 1.5s ease;
}

/* Scrollbar track styling */
body::-webkit-scrollbar-track {
    background-color: skyblue;
}

/* Scrollbar thumb styling */
body::-webkit-scrollbar-thumb {
    background-color: #1a1a7d;
    border-radius: 0.6rem; 
}

/* Show scrollbar when scrolling */
.showScrollbar::-webkit-scrollbar {
    width: 7px;
}
